
<!-- Full name: Lai Minh Huy
   COMP 229 – Web Application Development
   Student ID: 301225382
   Date: 08/10/2023
   Created by Huy Lai. Copyright Fall 2023. All Rights reserved to Huy Lai
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>


