<!-- Full name: Lai Minh Huy
   COMP 229 – Web Application Development
   Student ID: 301225382
   Date: 08/10/2023
   Created by Huy Lai. Copyright Fall 2023. All Rights reserved to Huy Lai
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="/Assets/images/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <h1 style="position: absolute; margin-left: 400px; margin-top: 100px;">Welcome to My <%= title %> Page</h1>
    </div>

    <div  class="homecontent" style="position: absolute; margin-left: 300px; margin-top: 150px">
        
        <img src="/images/MissionStatement.jpg" alt="Mission" style="width: 350px; height: 250px; margin-left: 150px;">
        
        <br>
        <br>

        <h2>This is my Portfolio and Mission Statement</h2>

        <p>"I aim to apply my software engineering expertise to create inventive and user-focused solutions that bring about constructive transformations in the digital realm"  </p>

        <br>
        
        <a href="/about" class="btn" style="margin-left: 250px;"> Explore More</a>
  
    </div>

</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



   